<!doctype html>
<html lang="pt-BR">
<head><meta charset="utf-8"><title>${titulo}</title></head>
<body>
  <h1>${titulo}</h1>
  <p>Esta página nasceu de código: Terraform + provider Docker.</p>
</body>
</html>
